@model LoginVM;
@{
    ViewBag.Title = "Login";
}
<h3 class="text-center"> User Login</h3>

<div class="container-fluid col-lg-5 col-md-6" style="background-color:papayawhip">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div><br />
        <div>
            <button type="submit" class="btn btn-outline-success mb-2" asp-action="login" asp-controller="account">Login</button>
        </div>
        <div> <p>Not yet registered? <a asp-action="register" asp-controller="account">Register here</a></p>  </div>


    </form>
</div>