@model Product
@{
    ViewBag.Title = "Not Found";
}
<div class="row">
    <div class="container-fluid col-xs-9 col-sm-7 col-md-6 col-lg-5 col-xl-4">
        <h6 class="text-center mb-3">Oops! Not Found, its not your lucky day!</h6>

        <p class="text-center"> <a asp-controller="home" asp-action="index"  >Click here to go back to Home</a></p>
    </div>

</div>